site_name: Lick The Salt
site_url: https://lickthesalt.com/
docs_dir: content
nav:
  - About: index.md
  - Guides:
      - guides/macos-setup.md
      - guides/nginx-proxy-manager-udmp.md
      - guides/rpi-k8s-talos-terraform.md
      - guides/mkdocs-material-insider-github-pages-action.md
  - Smart Home:
      - smart-home/architecture.md
      - smart-home/garage-door.md
      - smart-home/switches.md
  - Projects:
      - projects/battery-backup.md
      - projects/jeep.md
  - Literary:
      - literary/recommended-reading.md
  - Blog:
      - blog/index.md
extra:
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/andrewlecody
    - icon: fontawesome/brands/github
      link: https://github.com/aceat64
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/andrew-lecody-37307148/
copyright: This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
plugins:
  - meta
  - blog
  - search
  - social
  - minify:
      minify_html: true
  - privacy
markdown_extensions:
  # Python Markdown
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true

  # Python Markdown Extensions
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.smartsymbols
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
theme:
  name: material
  icon:
    logo: material/wifi-strength-alert-outline
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.top
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      primary: blue
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
